:root{
    --clr-primary-softblue: hsl(215, 51%, 70%);
    --clr-primary-cyan: hsl(178, 100%, 50%);

    --clr-neutral-darkblue-main: hsl(217, 54%, 11%); 
    --clr-neutral-darkblue-card: hsl(216, 50%, 16%);
    --clr-neutral-darkblue-line: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 18px;
}